---
import type { GetStaticPaths } from "astro";
import { getNoteList } from "../utils/notes";
import RootLayout from "../layouts/RootLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";

export const getStaticPaths = (async () => {
  const notes = await getNoteList();
  const paths = notes.map((note) => ({
    params: { slug: note.slug },
    props: { note },
  }));
  return paths;
}) satisfies GetStaticPaths;

const { note } = Astro.props;
---

<RootLayout title={`${note.title} | Ilence Ye`}>
  <div class="min-h-screen flex flex-col">
    <SiteHeader />
    <main class="flex-1 container">
      <section class="mt-4 py-4 space-y-4">
        <h2 class="text-2xl font-bold">
          {note.title}
        </h2>
        <p class="text-netural-2 text-xs font-bold">
          <time datetime={note.createdAt}>{note.createdAt}</time>
        </p>
      </section>
      <article class="mt-4">
        <Fragment set:html={note.html} />
      </article>
    </main>
  </div>
</RootLayout>

<style is:global>
  article {
    font-size: 15px;

    &:not(:is(:first-child, :last-child)) {
      margin: 5rem 0;
    }

    header,
    h1,
    h2,
    h3,
    p,
    ul,
    ol,
    .code-block__wrapper {
      margin-bottom: 1.5rem;
    }

    p,
    ul,
    ol {
      line-height: 24px;
    }

    li:not(:last-child) {
      margin-bottom: 0.25rem;
    }

    h1 {
      font-size: 20px;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid hsl(var(--border) / 0.9);
      padding-bottom: 0.5rem;
    }

    h1 a {
      text-decoration: none;
    }

    a {
      color: var(--accent);
      text-decoration: underline;
      text-underline-offset: 2px;
      margin-inline: -0.125rem;

      &:hover {
        color: var(--accent-hover);
      }
    }

    p:has(+ :is(ul, ol)) {
      margin-bottom: 0.25rem;
    }

    ul,
    ol {
      padding-left: 1.5rem;
    }

    li {
      list-style-type: disc;
    }

    /* If the ul or ol is insise a li, remove its margin-bottom */
    li:has(:is(ul, ol)) :is(ul, ol) {
      margin-bottom: 0;
    }

    header {
      font-size: 13px;
      color: var(--text-secondary);
    }
  }

  /* 
   Code Block
  */

  .code-block__wrapper {
    border-radius: 8px;
  }

  .code-block__header {
    padding: 0.5rem 1rem;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #555;
    background-color: #1e1e1e;
    color: #d4d4d4be;
    font-size: 14px;
  }

  .code-block__wrapper pre {
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    margin-top: 0;
  }

  .code-block__wrapper pre {
    overflow: auto;
  }

  /* line highlight */
  .code-block__wrapper .highlighted {
    background-color: #383c44;
    display: inline-block;
    width: 100%;
  }

  /*  */

  code:not([class]) {
    background-color: #f6f7f8;
    border-radius: 2px;
    padding: 0 4px;
  }
</style>
