---
import { getNoteGroupByMonth } from "../utils/notes";

const noteGroups = await getNoteGroupByMonth();
---

<div class="space-y-8">
  {
    noteGroups.map(({ year, month, notes }) => (
      <section>
        <h2 class="font-bold">
          {year}.{month}
        </h2>
        <ul class="mt-3 space-y-3">
          {notes.map(({ slug, title, createdAt, day }) => (
            <li>
              <a href={`/${slug}`} class="flex justify-between items-center">
                <p class="truncate">{title}</p>
                <time class="text-netural-1" datetime={createdAt}>
                  {day}
                </time>
              </a>
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</div>
